.portfolio-btns {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.portfolio-btn {
    outline: none;
    border: none;
    border-radius: .5rem;
    background-color: var(--other-color);
    padding: .4rem 2rem;
    font-size: inherit;
    color: var(--main-bg-color);
    cursor: pointer;
    transition: all .4s ease-in-out;
    margin-bottom: .6rem;

}

.portfolio-btn:focus:active {
    background-color: red;
}

.portfolio-btn:hover {
    background-color: var(--menu-bg-color);
}
.portfolio-btn:not(:last-child) {
    margin-right: .6rem;
}