footer {
  width: 100%;
  padding: 9px 40px;
  /* background-color: var(--other-color); */
  position: fixed;
  /* bottom: 0; */
  bottom: -19px;
  height: 90px;
}

footer h3 {
  font-size: 15px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.linkedin {
  color: #0077b5;
}

a.github {
  color: #211F1F;
}
 
  