:root {
  --primary: #fff;
  --secondary: #323036;
}

footer {
  width: 100%;
  padding: 25px 50px;
  /* padding: 10px 0; */
  background-color: #323036;
  position: fixed;
  bottom: 0;
  height: 90px;
  /*height: 5.5rem;

  height: 64px; *
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /*  */
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.linkedin {
  color: #0077b5;
}

a.github {
  color: #211F1F;
}
/*.social-media {
  /* max-width: 1000px; 
  width: 100%;
}*/
  
/*.social-media-wrap {
  /*display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;*
  margin: 20px auto 0 auto;
}
  
.social-icons {
  /*color: #fff;*
  display: flex;
  justify-content: space-between;
  /*align-items: center;
  width: 240px;
  margin-bottom: 36px;
}

a .social-icons {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a .social-.social-icons {
  transform: translateY(-2px);
}
  
.website-rights {
  color: #fff;
  margin-bottom: 36px;
  padding: 38px;
}
  
/*@media screen and (max-width: 820px) {
  
  .social-media-wrap {
    flex-direction: column;
  }
}*/
 
  