.header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: calc(100vh - 160px); 
  scroll-snap-align: start;
}

.header-image {
  width: 100%; 
  height: calc(100vh - 160px); 
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.header-title {
  position: absolute;
  width: 100%;
  line-height: 50px;
  text-align: center;
  margin: auto;
  bottom: 50%;
}
.header-title h1 {
  color: var(--main-bg-color);
}
  
.header-title p {
    color: var(--main-bg-color);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
  
.header-btns {
  position: absolute;
  margin: auto;
  bottom: 35%;
}

.header-btns a {
  text-decoration: none;
}
  
@media (min-width: 800px) {
  .header {
    flex-direction: row;
    justify-content: space-around; 
  }

  .header-image {
    background-size: cover; 
  }

  .header-title {
    width: 50%;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
  }

  .header-btns {
    display: flex;
    bottom: 40%;
  }

}