:root {
  --primary: #fff;
  --other: red;
}

.header {
  /*background: url('/images/img-home.jpg') center center/cover no-repeat; */
  flex-grow: 1;
  /* min-width: 100%;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: calc(100vh - 160px);
  /*height: 100vh */
  
}

.header-image {
    /*object-fit: cover;*/
    width: 100%; 
    height: calc(100vh - 160px); 
    background-size: contain, cover;
    background-repeat: no-repeat;
    /*height: calc(100vh - 105px);  */
    /* height: 100vh;   */
    /*position: fixed;
    /*z-index: -1;
    /*background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: top left;
    overflow: hidden;*/
}

.header-title {
  position: absolute;
  width: 100%;
  line-height: 50px;
  margin-top: 20px;
}
.header-title h1 {
    color: var(--other);
    font-size: 60px;
    /*margin-top: -100px;*/
}
  
.header-title p {
    /* margin-top: 8px; */
    color: var(--primary);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
  
.header-btns {
  position: absolute;
  margin-top: 200px; 
}
  
.header-btns .btns {
    margin: 6px;
}
  
@media (min-width: 800px) {
  .header {
    flex-direction: row;
    justify-content: space-around; 
  }

  .header-title {
    width: 50%;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    
  }

}
/*
@media screen and (max-width: 960px) {
    .header> h1 {
      font-size: 70px;
      margin-top: -150px;
    }
}
  
@media screen and (max-width: 768px) {
    .header > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .header > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
}*/