:root {
  --primary: #fff;
  --exclusive: #E9C46A;
  --brandColor: linear-gradient(90deg, rgb(109, 104, 117) 0%, rgb(181, 131, 100) 100%);
  --secondary: #323036;
}

.profile-container {
  height: 100vh;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100%;
  background: var(--brandColor) ;
}

.profile-wrapper {
    font-size: 25px;
    margin-top: 10px;
    padding: auto;
    text-align: center;
}
  
.logo-wrap {
  padding: 118px;
  margin-top: 20px;

}
.img-responsive img circle {
  height: 150px;
  width: 150px;
}
.profile-wrapper > h1 {
    
    font-size: 35px;
    margin-top: -100px;
}
  
.profile-container > p {
    margin-top: 8px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
  
@media screen and (max-width: 960px) {
    .profile-container {
      width: 970px;
    }
    .profile-container > h1 {
      font-size: 20px;
      margin-top: -150px;
    }
}
  
@media screen and (max-width: 768px) {
    .profile-container {
      width: 750px;
    }

    .profile-container > h1 {
      font-size: 40px;
      margin-top: -100px;
      
    }
  
    .profile-container > p {
      font-size: 30px;
    }
  
}
