.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  position: relative;  
  width: 100vw;
  height: calc(100vh - 160px); 
  scroll-snap-align: start;
  top: 70px;  
  bottom: 90px;
  
}

.profile .left {
  /* background-color: rgba(0, 0, 0, 0.2);  */
  background-color: transparent;
  display: flex; 
  align-items: center;
  height: 45%;
  width: 41%;
  border-radius: 7%;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.hexagon {
  height: 250px;
  width: 250px;
  position: relative;
  /* margin: 50px 20px 70px; */

}

.hexagon .shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: 0.5s;
}

.hexagon:hover .shape {
  transform: translateY(-30px);
}

.shape img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile .right {
  /* background-color: rgba(0, 0, 0, 0.2);  */
  /* background-color: transparent; */
  display: flex; 
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
}

.profile-text {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.profile-text h1 {
  font-size: 25px;
  margin: 5px 0;
  height: 50px;
  /* margin-bottom: 20px; */
}
  
.profile-text p {
  /*margin-top: 8px;*/
  line-height: 1.6; 
  text-align: justify;
  font-size: 14px;
}

@media (min-width: 800px) {
  .profile {
    flex-direction: unset;
  }
  .profile .left {
    flex: 0.5;
    height: 60%;
    width: 50%;
    /* overflow: hidden; */
  }

  .hexagon {
    height: 400px;
    width: 350px;
    /* margin: 50px 20px 70px; */
  }

  .shape img {
    width: 100%;
    height: 100%;
  }
  
  .profile .right {
    flex: 0.5;
    position: relative;
  }
  .profile-text {
    padding-left: 50px ;
  }
  .profile-text h1 {
    font-size: 35px;
  }
    
  .profile-text p {
    font-size: 16px;
  }
}
