:root {
    --primary: #fff;
    --exclusive: #E9C46A;
    --brandColor: linear-gradient(90deg, rgb(109, 104, 117) 0%, rgb(181, 131, 100) 100%);
    --secondary: #323036;
}
.resume-container {
    /* height: 100vh; */
    /* width: 100%; */
    padding: 4rem;
    background: var(--brandColor) ;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: calc(100vh - 160px);
   
}

.resume-column > h1 {
    /*color: var(--primary);*/
    font-size: 35px;
    margin-top: 10px;
    padding: auto;
    text-align: center;
}

.resume-group {
    /*color: var(--primary);*/
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.resume-group a {
    color: var(--primary);
    text-decoration: none;
}

.resume-column > h3 {
    /*color: var(--primary);*/
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
    text-align: center
}
  

.resume-column  {
    float: left;
    width: 33.33%;
}

.list-group {
    list-style-type: "*";
    padding: 4px;
    line-height: 1.8;
    display: table;
    margin: 0 auto;
    
}

.list-group-items {
     
    position: relative;
    padding: 3px 0 2px 25px;
    
}

.list-group-items ::before {
    content: '*';
    position: absolute;
    top: 6px;
    left: 0;
}
  
@media screen and (max-width: 600px) {
    .resume-column {
      width: 100%;
    }
}