.app {
  /*display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px; */
  height: 100vh;
  /*border-radius: 10px;
  flex-direction: column;
  background-color: #ffffff;
  /* padding-bottom: 2.5rem; */
}

.sections {
  /*padding-bottom: 5.5rem;*/
  width: 100%;
  height: calc(100vh - 160px);
  position: relative;
  top: 70px; 
  bottom: 90px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;

}

.sections::-webkit-scrollbar {
  display: none;

}

/*.sections * {
  width: 100vw;
  height: calc(100vh - 160px);
}*/

/*@media (min-width: 800px) {
  .app {
    /*padding: 0 100px;
    margin-top: 5vh;
    height: 100vh;
  }

  .sections {
    height: calc(100vh - 160px);
    
  }
}*/

  
 /* .home,
  .about,
  .portfolio,
  .contact,
  .resume {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .about-me {
    color: linear-gradient(90deg, rgb(109, 104, 117) 0%, rgb(181, 131, 100) 100%);
    font-size: 100px;
  }
  
  .portfolio {
    /*backgroundImage: "url(/images/img-1.jpg)"
    background-image: url('./images/img-3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .contact {
   
    /*background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  /*.resume {
    
    color: #fff;
    font-size: 100px;
  }*/