* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
  
  .about-me,
  .portfolio,
  .contact,
  .resume {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .about-me {
    color: #fff;
    font-size: 100px;
  }
  
  .portfolio {
    /*backgroundImage: "url(/images/img-1.jpg)"
    background-image: url('./images/img-3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    color: #fff;
    font-size: 100px;
  }
  
  .contact {
   
    /*background-repeat: no-repeat;*/
    color: #fff;
    font-size: 100px;
  }
  
  .resume {
    
    color: #fff;
    font-size: 100px;
  }