:root {
    --main-bg-color: #dddddd;
    --main-text-color: #000;
    --menu-bg-color: #3598DC;
    --other-color: #2D3E50;
    --primary: #fff;
    --theme-red: #E94C3D;
    --theme-yellow: #F2C40F;
    --portfolio-menu: #6e7075;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
overflow-x: hidden;  
}

body {
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-bg-color);
}
  
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

body .bg-light {
    background-color: var(--main-bg-color) !important;
}
  
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
  
code {
    font-family: 'PT Sans', sans-serif;
}
  
p {
    line-height: 30px;
    font-family: 'PT Sans', sans-serif;
}
  